Source: cacus
Maintainer: Danila Migalin <me@miga.me.uk>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3, debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: python3-cacus
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pymongo (>= 3.0), python3-motor (>= 1.0), python3-gnupg (>= 2.2)
Description: Distributed Debian repository manager

Package: python3-cacus-file-storage
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-cacus
Description: File Storage plugin for Cacus

Package: python3-cacus-azure-storage
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-cacus, python3-requests, python3-azure-storage (>= 0.32), python3-azure-common (>= 1.1.4)
Description: File Storage plugin for Cacus
